apparmor==2.13.4
appdirs==1.4.4
application-utility==1.3.2
btrfsutil==1.2.0
bumblebee-status==2.0.5
CacheControl==0.12.6
catfish==1.4.13
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==3.0.4
clima-anom==0.2.9
colorama==0.4.3
configobj==5.0.6
contextlib2==0.6.0.post1
distlib==0.3.1
distro==1.5.0
docopt==0.6.2
gufw==20.4.0
html5lib==1.1
idna==2.10
keyutils==0.6
lensfun==0.3.95
LibAppArmor==2.13.4
lightdm-gtk-greeter-settings==1.2.2
louis==3.15.0
menulibre==2.2.1
msgpack==1.0.0
mugshot==0.4.2
netifaces==0.10.9
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.4
pacman-mirrors==4.16.4
pep517==0.8.2
pexpect==4.8.0
Pillow==8.1.1
powerline-shell==0.7.0
progress==1.5
psutil==5.7.2
ptyprocess==0.6.0
pwquality==1.4.2
pycairo==1.19.1
PyGObject==3.36.1
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
pysmbc==1.0.20
python-distutils-extra==2.39
pytoml==0.1.21
pyxdg==0.26
PyYAML==5.3.1
QScintilla==2.11.5
rados==2.0.0
ranger-fm==1.9.3
rbd==2.0.0
reportlab==3.5.50
requests==2.24.0
resolvelib==0.4.0
retrying==1.3.3
rgw==2.0.0
sip==4.19.24
six==1.15.0
team==1.0
terminator==1.92
toml==0.10.1
udiskie==2.2.0
ufw==0.36
urllib3==1.25.10
webencodings==0.5.1
